/GuiaPooCollections/build/
/GuiaPooRelaciones/nbproject/private/
/GuiaPooRelaciones/build/
/GuiaPooHerencia/nbproject/private/
/GuiaPooHerencia/build/
/GuiaManejoExcepciones/nbproject/private/
/GuiaManejoExcepciones/build/
/GuiaJDBC/Exercise1Tienda/nbproject/private/
/GuiaJDBC/Exercise1Tienda/build/
/GuiaJDBC/ExerciseTwoEstancias/nbproject/private/
/GuiaJDBC/ExerciseTwoEstancias/build/
/GuiaJPA/ExerciseOneLibreria/nbproject/private/
/GuiaJPA/ExerciseOneLibreria/build/
/GuiaJPA/ExerciseTwoLibreria/nbproject/private/
/GuiaJPA/ExerciseTwoLibreria/build/