<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<title>Libreria</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
		integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous" />
</head>

<body style="background-image:url(https://previews.123rf.com/images/wowanna/wowanna1703/wowanna170300012/73414784-casa-de-dibujos-animados-lindo-para-la-venta-o-alquiler-en-estilo-de-construcci%C3%B3n-plana-en-dinero-.jpg); background-repeat: no-repeat; width: 100%;">
	<div class="container" style="margin-top: 100px; text-align: start;">
		<h1><strong>Puesta en Alquiler Exitoso</strong></h1>
	</div>
	<div class="container">
		<a class="btn btn-primary" href="/" role="button">Volver</a>
	</div>
</body>

</html>